<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header class="main-header">
            <div class="top-header">
            <div class="buscador-y-logo">
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" class="logo">
                <form class="buscador">
                    <input type="search" name="barra-para-buscar" required=" " placeholder="Buscar productos, marcas" class="input">
                    <button type="submit" class="submit"> <i class="fa fa-search"></i> </button>
                </form>
            </div>
            <div class="mid-header">
                    <h2><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
            </div>
            </div>
        
            <nav class="main-nav">
                <ul class="left-nav">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-nav">
                    <li><a href='/register'>Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <main>
            <div class="form-log-in">
            <form method="GET" action="/">

                <div class="usuario_password">
                <label for="nombre_usuario"></label>
                <input type="text" name="nombre_user" id="nombre_usuario" placeholder="Nombre de usuario" minlength="2" required>
        
                <label for="contra"></label>
                <input type="password" name="clave" id="contra" placeholder="Password" required>
                <button type="submit"><a href="/home.html"></a>Enviar</button>
                </div>
                
            </form>
        </div>
        </main>
        <footer>
            <div class="footer-div">
                <div class="footer-medios-de-pago">
                    <div class="footer-icon">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <h3>Paga con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="footer-envio-gratis">
                    <div class="footer-icon">
                        <i class="fas fa-gift"></i>
                    </div>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="seguridad-pagina">
                    <div class="footer-icon">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            </div>
            <p class="copyright">Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
        </footer>
    </body>
</html>